/* ----------------------
GOOGLE FONT 
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/* ----------------------
GLOBAL SETTINGS 
---------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Open Sans", sans-serif;
}


/* ----------------------
FORM SECTION 
---------------------- */
#registration-form{
    background: url(../img/img2.webp) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.ss-tile-logo img{
    width: 150px;
}
.ss-content h2,
.right-col h2{
    color: #0e72cc;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}
.ss-content p {
    color: red;
    font-weight: 500;
}
.registration-form {
}
.right-col{
    background-color: #64131f61;
    border-radius: 7px;
    box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .3);
}

form{}

form input,
.form-select{
    border-radius: 7px !important;
}

.form-select {
    font-family: "Open Sans", sans-serif;
    padding: 15px 10px !important;
    color:rgb(255, 47, 71);
}

.form-floating>label {
    padding: 15px 20px !important;
}

.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    background: transparent !important;
}

.get-support-btn{
    padding: 10px 30px;
    border-radius: 7px;
    background-color: #cc0e4a;
    color: #ffffff;
    font-weight: 500;
    transition-duration: .3s;
}

.get-support-btn:hover{
    background-color: #00AEEF;
    color: #ffffff;
}
label {
        display: inline-block;
        color:rgb(255, 127, 161);
 }

